In [73]:
#Load dataset with explicit null value mapping to handle missing data consistently

#'Not Available' and 'unknown' strings are treated as NaN for proper aggregation later

import pandas as pd

retail_df = pd.read_csv(
    "orders.csv",
    na_values=["Not Available", "unknown"]
)

retail_df['Ship Mode'].unique()

array(['Second Class', 'Standard Class', nan, 'First Class', 'Same Day'],
      dtype=object)

In [74]:
#Rename columns names and make them lower case and replace space with underscore

retail_df.rename(columns={'Order Id':'order_id', 'City': 'city'}) 

retail_df.columns=retail_df.columns.str.lower()

retail_df.head(5)

,order id,order date,ship mode,segment,country,city,state,postal code,region,category,sub category,product id,cost price,list price,quantity,discount percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5

In [75]:
#Derive discount

retail_df['discount'] = retail_df['list price'] * retail_df['discount percent']*.01

#retail_df.head()

#Derive sale price

retail_df['sale price'] = retail_df['list price'] - retail_df['discount']

retail_df.head()

,order id,order date,ship mode,segment,country,city,state,postal code,region,category,sub category,product id,cost price,list price,quantity,discount percent,discount,sale price
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,254.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9,708.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5,9.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,19.2,940.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,1.0,19.0

In [ ]:
#This derived column enables profitability analysis across segments and time periods

retail_df['profit'] = retail_df['sale price'] - retail_df['cost price']

retail_df.head(5)

,order id,order date,ship mode,segment,country,city,state,postal code,region,category,sub category,product id,cost price,list price,quantity,discount percent,discount,sale price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,1.0,19.0,-1.0

In [79]:
#Convert order_date to datetime type for time-series operations and date-based filtering

#String dates cannot be sorted chronologically or used for time-based aggregations

retail_df['order date']=pd.to_datetime(retail_df['order date'],format="%Y-%m-%d")

retail_df.head()

,order id,order date,ship mode,segment,country,city,state,postal code,region,category,sub category,product id,cost price,list price,quantity,discount percent,discount,sale price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,1.0,19.0,-1.0

In [ ]:
#Basic statistical summary to understand data distribution

retail_df.describe()

,order id,order date,postal code,cost price,list price,quantity,discount percent,discount,sale price,profit
count,9994.000000,9994,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000
mean,4997.500000,2022-12-29 10:20:34.820892672,55190.379428,201.189714,229.756854,3.789574,3.484090,8.037953,221.718901,20.529188
min,1.000000,2022-01-01 00:00:00,1040.000000,0.000000,0.000000,1.000000,2.000000,0.000000,0.000000,-5.000000
25%,2499.250000,2022-06-29 00:00:00,23223.000000,20.000000,20.000000,2.000000,2.000000,0.600000,19.200000,-0.400000
50%,4997.500000,2022-12-28 00:00:00,56430.500000,50.000000,50.000000,3.000000,3.000000,1.800000,49.000000,6.000000
75%,7495.750000,2023-07-03 00:00:00,90008.000000,180.000000,210.000000,5.000000,4.000000,7.000000,201.600000,16.700000
max,9994.000000,2023-12-31 00:00:00,99301.000000,18110.000000,22640.000000,14.000000,5.000000,905.600000,21734.400000,3624.400000
std,2885.163629,NaN,32063.693350,537.743203,623.245839,2.225110,1.114211,22.978004,601.399604,72.514547

In [ ]:
#drop cost price, list price and discount percent columns

retail_df.drop(['list price', 'cost price', 'discount percent'], axis=1, inplace=True)

retail_df.columns

Index(['order id', 'order date', 'ship mode', 'segment', 'country', 'city',
       'state', 'postal code', 'region', 'category', 'sub category',
       'product id', 'quantity', 'discount', 'sale price', 'profit'],
      dtype='object')

In [56]:
#Connect to sql server 

from sqlalchemy import create_engine

engine = create_engine(
    "mssql+pyodbc://@localhost\\SQLEXPRESS/RetailDB?"
    "driver=ODBC+Driver+17+for+SQL+Server&trusted_connection=yes"
)

conn = engine.connect()

print("✅ Connected to SQL Server successfully")

✅ Connected to SQL Server successfully

C:\Users\user\AppData\Local\Temp\ipykernel_60092\2180155450.py:10: SAWarning: Unrecognized server version info '17.0.1000.7'.  Some SQL Server features may not function properly.
  conn = engine.connect()

In [84]:
# Persist cleaned retail data to SQL Server using append mode to preserve existing records
# This enables centralized data storage for business intelligence and reporting tools
retail_df.to_sql('df_orders', con=conn, index=False, if_exists = 'append')

38